{@org.cthul.qxadmin.data.QxEntity entity}
{@org.cthul.qxadmin.data.QxView view}
{@org.cthul.qxadmin.data.QxMeta meta}

{#let properties = entity.properties}
<form class="table rows" hx-put="{meta.home}/{view.path}/{entity.id}" hx-target="#table-row-{entity.id}" hx-on--after-request="htmx.closest(this, 'dialog').close()" >
    {#for property in properties}
        {#if property.readOnly}
            <p>
            <span>{property.label}:</span>
            <span>{property.formattedValue}</span>
            </p>
        {#else}
            <p>
            <label for="{property.label}">{property.label}</label>
            <input id="{property.label}" name="{property.label}" value="{property.formattedValue}">
            </p>
        {/if}
    {/for}
    <p>
        <span></span>
        <button type="submit" class="float:right" >submit</button>
    </p>
</form>
